@charset "utf-8";

#wrapper{width:1100px; padding:0 50px; min-height:400px; margin:0 auto;}

#header{height:264px; width:1150px;
		background-image: url("head.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 110px;
	
		}
 
#logo{padding-top:65px;}
#logo img{width:285px; height:118px;}

#menu{ width:1100px; height:40px; background-image: url("menu.png");margin-left: 23px;}
#menu ul{ float:left;}
#menu ul li{ float:left; min-width:90px; padding:0 15px; line-height:35px;}
#menu ul li a{ text-decoration:none; color:#fff; font-size:14px; font-family:Verdana, Geneva, Sans-Serif;}
#menu h1{line-height:35px; font-size:14px; font-family:Verdana, Geneva, Sans-Serif; color:#fff; margin-left:45px; float:left; }

#slinks{float:right; margin-right:15px;}
#slinks h1{margin-right:20px;text-align: center;}
#slinks img{margin-left:5px;float: right;padding: 5px}

#contents{width: 1100;min-height: 300px;clear: both; }

#sidebar{float:left; width:270px; height:200px;padding-left:100px }

	.side{width:270px; min-height:300px; background-image: url("Untitled-1.png"); padding-top:19px;}
	.side h1{color:#ffffff; font-family:verdana, geneva, sans-serif; font-size:16px; font-weight:bold; line-height:40px;}

	.side_head{width:270px; height:51px; background-image: url("head_slid.png"); background-repeat:repeat-y; text-align:center;}

	.side_body{min-height:150px;}
	.side_body ul{padding:10px; padding-left:45px;}
	.side_body ul li{list-style-image:url("arrow.png");}
	.side_body ul li a{text-decoration:none; color:#000; font-family:verdana, geneva, sans-serif; font-size:15px; line-height:20px;}

	.side form {text-align:center;}
	.side input[type="text"]{width:185px; height:15px; margin-bottom:5px; padding:5px;}
	.side input[type="submit"]{width:124px; height:25px; background-color:#333333; color:white; border:0; border-radius:5px;}




#conts{width:810px; min-height:300px; float:right;padding-right: 95px}

	#slider{width:810px; height:330px; background-image: url("slider.jpg"); background-repeat:no-repeat; }

	#latestprojects{margin-top:20px;}

	#latestprojects h1{font-family:Verdana, Geneva, Sans-Serif; font-size:17px; color:#cb0030; margin-bottom:20px;}

	.project{width:377px; height:200; margin-bottom:32px;  float:left;}
	.project:nth-child(even){margin-right:50px;}
		
	.project img{float:left; margin-right:10px;}
	.project h2{font-family:Verdana, Geneva, Sans-Serif; font-size:18px; color:#000000;}
	.project p{font-family:Verdana, Geneva, Sans-Serif; font-size:12px; color:#000000; line-height:20px; text-align:justify;}
	.project a{font-family:Verdana, Geneva, Sans-Serif; font-size:14px; color:#cb0030; float:right;}


#footer{width:1200px; height:433px;clear: both; background-image: url("footer.png"); 
	background-repeat:no-repeat; padding-top: 150px; padding-left: 70px;margin-top: 30px;
	margin-right: 50px;background-position: right top;
	
}



#send{float: left;width: 255px;min-height: 200px;padding-left: 40px}
#send input[type="text"],send input[type="email"]{width:170px; height:25px; border: 1px solid white; border-radius: 5px; margin: 0px 10px 10px 0px;}
#send textarea{width: 170px; border: 1px solid white; width:170px; height:25px; border: 1px solid white; height: 170px; }
#send input [type = "submit"]{width:165px; height:30px; border:0;  border-radius: 5px;margin-top: 10px;background: #f0f0f0;}



#contacts{float:right; margin-right: 200px; width: 500px;}
#contactinfo{float: right; color: white;}
#contactinfo a{color: white; text-decoration: none;}
#contacts div{float :left;}